.controlSegment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding-top: 1%;
}

.tableSegment{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.extraCruds{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.formSegment{
    width: 45%;
}

.tableMessage{
    width: 100%;
}