.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1%;
    position: sticky;
}

.Title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.Options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}